// Add your custom CSS here.

//contudown
.top-bar__countdown {
  font-size: 0.8rem;
  font-weight:500;
  padding-top: 5px;
  padding-bottom: 5px;
  background:#333 !important;
}

//size h1
h1 {
    font-size: 1.5rem !important;
}

//trustvox
html body .ts-shelf-container {
    display: none;
}

//texto menu
.header__row .header__nav a {
    padding-right: 1rem;
    font-weight: 400 !important;
    color: #333;
}

// FRETE CALCULO
.shipping-calculator__services::after {
  content: 'FRETE 9,99 em compras a partir de 100 \A';
  white-space: pre;
  font-weight: 500;
  font-size: 12px;
  color: #333;
}

//banner categoria
.hero-banner {
    margin: 0px;
}

//remover parcelas
.payment__badges {
    display: none;
}

//tag oferta %
.product-card__offer-stamp {
    display: none;
}

//menu ofertas back
/*
.header__row .header__nav a:last-child {    
    color: #fffcfc;
    background: #c0004e;
    padding: 5px;
}
*/

//vitrine inteligente
.cart .row .col-md-7 {
  display: flex;
  flex-direction: column;
}

.cart .row .col-md-7 .cart__list {
  order: 1
}

.cart .row .col-md-7 .cart__back {
  order: 2
}

.cart .row .col-md-7 .recommended-items {
  order: 3
}

//tamanho botao vitrine comprar
.product-card--small .product-card__buy, .product-card .spinner-border{  
    bottom: var(--spacer-2);
    right: var(--spacer-4);
}

//menu horizontal
.header__row .header__nav a {
    padding-right: 1rem;
    font-weight: 600;
    color: #333;
}

//border arredondada img
.banner picture img {    
    border-radius: 5px !important;
}

// font style
body {
  font-family: 'Open Sans', sans-serif;
}
// header
#header {
  background-color: #fff !important;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  border-width: 0px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.header__row {
  padding-left: 15px;
  padding-right: 15px;
}
.top-bar__page-links {
  font-size: .9rem;
  font-weight: 500;
}
// menu
#menu .menu__list span, .header__toggler span, .menu__item span {
  text-transform: uppercase !important;
  font-weight: 400 !important
}
#menu .menu__btn--close, .menu__btn.btn.collapsed {
  color: #000 !important;
}
.menu__item-icon > img {
  max-width: 240% !important;
  max-height: 200% !important;
}
.menu__item-icon {
  margin-right: 3.1rem !important;
  height: 3.45rem !important;
}
.menu__list a.menu__item:hover, .menu__list a.menu__item > span:hover {
  background: #000 !important;
  color: #fff !important;
}
// search input
#search-input {
  font-size: 15px !important;
  text-transform: uppercase !important;
  font-weight: 400 !important;
  border: 1px dashed #D9D9D9 !important;
}
// topo
.top-bar__nav, .top-bar {
  background: #fff;
}
.minicart__btn-checkout.btn, .cart__info .cart__btn-checkout {
  font-size: 0px;
}
.minicart__btn-checkout.btn::after, .minicart__btn-checkout.btn svg, .cart__info .cart__btn-checkout::after, .cart__info .cart__btn-checkout svg {
  font-size: 1rem !important;
  content: 'Finalizar compra';
  margin-left: .2rem;
}
// topo mobile
@media screen and (max-width: 480px) {
  .top-bar__countdown {
    font-size: 0.7rem;
    font-weight:500
  }
  .custom-html + div.responsive-baner {
    margin-bottom: 2rem !important;
  }
  #cart-quickview .minicart__aside {
    margin-top: 1rem;
  }
}
//fonte title colecoes
.products-carousel__title {font-size: 1rem;}
// ver mais
.products-carousel__title a::after {
  content: ' ( Ver + )';
  font-size: 0.80rem;
  font-weight: bold;
  padding:  0.5rem;
}
.products-carousel h3, .products-carousel strong, .products-carousel .product-card__prices, .product-card h3, .product-card .product-card__prices,.product-card .prices__discount{
  text-align: center;
}
.products-carousel h3 {
  color: #705a3d;
  font-weight: 300;
}
.responsive-baner:last-child {
  padding-bottom: 0px !important;
  margin-bottom: -1em !important;
}
// Footer
.footer__title +ul.list-unstyled > li:first-child span,.footer__title +ul.list-unstyled > li:first-child a {
  font-size: 20px !important;
  color: #2C0E7A !important;
}
.footer__title + p {
  color: #0d0d0d !important;
}
.footer .col-lg-auto {
  width: 20%;
}
.footer__title +ul.list-unstyled > li:nth-child(2) > a {
  color: #2C0E7A !important;
}
.footer__stamps li:nth-child(3) > img {
  width: 70%;
}
.footer__stamps img {
  max-width: 120px;
}
.footer__credits {
  border-top: 1px solid #000;
}
.footer__title {
  color: #2C0E7A !important;
}
.footer__credits {
  text-align: center;
}
.footer__links svg {
  display: none !important;
}
.footer__links, .footer__credits, div.footer__title +p, div.footer__title +ul {
  color: #666 !important;
}
// FRETE CALCULO
/*.shipping-calculator__services::after {
  content: 'FRETE GRÁTIS em compras a partir de R$200 \A Frete Econômico (R$ 10) em compras acima de R$ 100.';
  white-space: pre;
  font-weight: 500;
  font-size: 12px;
  color: #333;
}*/
//botao comprar
.btn-primary {
    background-color: rgb(40, 167, 69);
    border-color: rgb(40, 167, 69);
}
.product-card__buy.fade {
  opacity: 1 !important;
}
.products-carousel .product-card span {
  text-align: center;
}
.products-carousel .product-card__buy {
  display: flex;
  justify-content: center;
}
// desktop acima de 14 polegadas
@media  screen and (min-width: 1368px) {

}

//desktop normal size
@media  screen and (min-width: 998px) and (max-width: 1367px) {
  //slider full
  .banner-slider {
    max-width: 100%;
  }
  //botao add carrinho
  .products-carousel .product-card__buy .btn-primary{
    width: 150px;
    height: 30px;
  }
}
// apenas tablet
@media screen and (min-width: 481px) and (max-width: 997px) {
  //botao add carrinho
  .products-carousel .product-card__buy .btn-primary{
    width: 150px;
    height: 30px;
  }
}
// apenas mobile
@media screen and (max-width: 480px) {
  //botao add carrinho
  .products-carousel .product-card__buy .btn-primary {
    font-size: 0.7rem
  }
  .header__container.container-fluid {
    margin-top: .3rem;
  }
}


// cor botao comprar
.product-card__buy .btn-primary {
    line-height: 0px;
    font-size: 0.8rem;
    background-color: #162567;
    border-color: #162567;
}

//margem preco botao
.product-card__prices {
    height: 2.95rem !important;
}
//oferta produto
.product-card__offer-stamp {
    background-color: #c31b29 !important;
    border-radius: 1rem !important;
    line-height: 2.5 !important;
    color: #fff !important;
}
//tamanho fonte h1
h1 {
    font-size: 2.0rem;
}
//estrelas trustvox
.product-card__name +div {
  margin-left: 25%;
  display: none !important
}
//não mostrar preço com desconto
.prices__discount{
  display:none;
}
.discount-applier .alert::after{
 content: '*O valor do desconto não é cumulativo com outras promoções ou cupom de desconto'
}
//remover status pedido aberto
.order-info__status--open {
  display: none
}
//tam img checkout
.summary__item img {
  width: 50px;
}
// hide trustvox star
.products-carousel .ts-shelf-container {
  display: none;
}

//botão cancelar
.btn-danger {
    display: none !important;
}


// aumentar botao comprar
.product__buy button {
    padding: .5rem 4rem;
}
// esconder pessoa jurídica
#account-form-type-j, #account-form-type-j + label {
display: none !important;
} 

//bt comprar busca
.product-card__buy .btn-primary {
    line-height: 0;
    font-size: .8rem;
    background-color: #162567;
    border-color: #162567;
    margin: 0px 40px 0px 0px;
}

//topo contatos
.top-bar__page-links {
    font-size: .6rem;
    float: right;    
    margin-right: -20px;
}
